.logo {
    position: relative;
    z-index: 10000;
}
.theme-blue {
    background: rgb(39, 27, 25);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #4d5b76), color-stop(1, #6f80a1));
    background: -ms-linear-gradient(bottom, #4d5b76, #6f80a1);
    background: -moz-linear-gradient(center bottom, #4d5b76 0%, #6f80a1 100%);
    background: -o-linear-gradient(bottom, #4d5b76, #6f80a1);
    filter: progid:dximagetransform.microsoft.gradient(startColorStr='#e3e3e3', EndColorStr='#ffffff');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#6f80a1',EndColorStr='#4d5b76')";
  }


  .d-lg-block {
    display: block!important;
}

.topbar {
    background: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}

/* .a{
    color: #007bff !important;
} */